<head>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
</head>
<nav>
  <a routerLink="/education" routerLinkActive="active">Edukacja</a>
  <a routerLink="/interests" routerLinkActive="active">Zainteresowania</a>
  <a routerLink="/experience" routerLinkActive="active">Doświadczenie</a>
  <a routerLink="/contact" routerLinkActive="active">Kontakt</a>
  <button (click)="switchLanguage('pl')">PL</button>
  <button (click)="switchLanguage('en')">EN</button>
</nav>

<router-outlet></router-outlet>

<footer>
  <ul class="social-media-icons">
    <li><a href="https://github.com/" target="_blank"><i class="fab fa-github"></i></a></li>
    <li><a href="https://linkedin.com/" target="_blank"><i class="fab fa-linkedin"></i></a></li>
    <li><a href="https://facebook.com/" target="_blank"><i class="fab fa-facebook"></i></a></li>
  </ul>
</footer>